
.*
!.HA_VERSION

automations.yaml
google_calendars.yaml
groups.yaml
scenes.yaml
scripts.yaml
secrets.yaml

appdaemon/*
backups/*
custom_components/*
deps/*
image/*
themes/*
tts/*
www/community/*

home-assistant_v2*
home-assistant.log*
