
.*
!.HA_VERSION

!automations.yaml
google_calendars.yaml
!scenes.yaml
!scripts.yaml
secrets.yaml
service_account.json

appdaemon/*
backups/*
blueprints/*
custom_components/*
deps/*
image/*
!themes/*
tts/*
www/camera/*
www/community/*

home-assistant_v2*
home-assistant.log*
zigbee*
