@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

svg, svg * {
  pointer-events: all !important;
  cursor: auto !important;
}

svg path {
  fill: inherit;
  stroke: inherit;
  stroke-width: inherit;
}

#areas {
  fill: none;
}

#light-overlays image {
  display: none;
  mix-blend-mode: lighten;
  animation: 0.75s fade-in linear forwards;
}

#light-overlays image.light-on {
  display: block;
}

#areas .light-on {
  stroke-width: 4px;
  stroke-opacity: 1;
  stroke: rgb(156, 255, 166);
}

g path:active, g use:active, .light-on:active, g#entities > g:active path:not(.touch-area) {
  stroke: rgb(33, 150, 243) !important;
  stroke-width: 4px;
  stroke-opacity: 0.7;
}

g#entities path {
  stroke: rgb(240, 243, 255);
  stroke-width: 1px;
  stroke-opacity: 1;
  fill: none;
}
g#entities .light-on {
  stroke: rgb(33, 150, 243);
}

g#entities .entities.entity-state-off {
  stroke: rgb(240, 243, 255);
  stroke-width: 2px;
}

g#entities .entities.entity-state-idle{
  animation: fade-in 2s infinite alternate;
  fill: rgba(166, 77, 255, 0.18);
  stroke: rgba(166, 77, 255, 0.53);
  stroke-width: 3px;
  stroke-opacity: 1;
  filter: unset;
}

g#entities .entities.entity-state-on,
g#entities .entities.entity-state-auto,
g#entities .entities.entity-state-dry,
g#entities .entities.entity-state-cool,
g#entities .entities.entity-state-fan_only,
g#entities .entities.entity-state-heating,
g#entities .entities.entity-state-heat {
  animation: fade-in 2s infinite alternate;
  fill: rgba(33, 150, 243, 0.18);
  stroke: rgba(33, 150, 243, 0.53);
  stroke-width: 3px;
  stroke-opacity: 1;
  filter: unset;
}

g#entities .entities.entity-state-unavailable {
  stroke: rgba(255, 97, 116, 0.53);
  stroke-width: 2px;
}

g#entities .motion.door-on {
  fill: rgba(229, 145, 9, 0.18);
  stroke: rgba(229, 145, 9, 0.53);
  stroke-width: 3px;
  stroke-opacity: 1;
  filter: unset;
  animation: fade-in 4s infinite alternate;
}

g#entities .motion.window-on {
  fill: rgba(255, 211, 99, 0.18);
  stroke: rgba(255, 211, 99, 0.53);
  stroke-width: 3px;
  stroke-opacity: 1;
  filter: unset;
  animation: fade-in 4s infinite alternate;
}

g#entities .charging.charge-state-on {
  fill: rgba(205, 220, 57, 0.18);
  stroke: rgba(205, 220, 57, 0.53);
  stroke-width: 3px;
  stroke-opacity: 1;
  filter: unset;
  animation: fade-in 4s infinite alternate;
}

g#sensors text {
  fill: rgba(240, 243, 255, 0.15);
  position: fixed;
  text-shadow: 2px 2px rgb(0, 0, 0);
}

g#nappali text {
  transform: skew(145deg) scale(.8) translateY(22px) translateX(347px);
}

g#ebedlo text {
  transform: scale(.8) translateY(84px) translateX(202px);
}

g#szoba text {
  transform: skew(220deg) scale(.8) translateY(272px) translateX(-860px);
}

g#halo text {
  transform: skew(180deg, 41deg) scale(.8) rotateZ(265deg) translateY(-202px) translateX(-294px);
}

g#konyha text {
  transform: skew(180deg, 139deg) scale(.8) rotateZ(270deg) translateY(-258px) translateX(-1807px);
}

g#furdo1 text {
  transform: skew(192deg) scale(.6) rotateZ(90deg) translateY(-2008px) translateX(1128px);
}

g#furdo2 text {
  transform: skew(203deg) scale(.5) rotateZ(90deg) translateY(-1974px) translateX(1373px);
}
