#floorplan  {
  padding-bottom: 10px;
}

svg tspan {
  fill: var(--primary-text-color);
}

/* SVG shapes */

svg, svg * {
  vector-effect: non-scaling-stroke !important;
/*  pointer-events: all !important;*/
}

/* Hover over */
.ha-entity:hover {
  stroke: #03A9F4 !important;
  stroke-width: 1px !important;
  stroke-opacity: 1 !important;
}

/* Binary sensors */

.binary-sensor-on {
  fill: #F9D27C !important;
}

.binary-sensor-off {
  opacity: 0 !important;
  transition: opacity .25s;
  -moz-transition: opacity .25s;
  -webkit-transition: opacity .25s; 
}

/* Light Control */

path[id*="area."].light-on{
  opacity: 0 !important;
}

path[id*="area."]{
  opacity: 0.5 !important;
  transition: opacity .25s;
  -moz-transition: opacity .25s;
  -webkit-transition: opacity .25s;
}

/* Things Control */

[id*="things."].thing-unavailable{
  opacity: 1 !important;
  fill: #2D2E30 !important;
}

[id*="things."].thing-on{
  opacity: 1 !important;
  fill: #7CB1F98F !important;
}

[id*="things."]{
  opacity: 0 !important;
  transition: opacity .25s;
  -moz-transition: opacity .25s;
  -webkit-transition: opacity .25s;
}

/* Spinning fan */

.spinning {
  animation-name: spin;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
